<h2 class="cpdn-heading">
	<div class="btn-group left" role="group">
		<button type="button" class="btn btn-default" ng-click="back()">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>
	Schemes
	<div class="btn-group right" role="group">
		<button type="button" class="btn btn-success" ng-click="create()"><i class="fa fa-plus"></i></button>
		<button type="button" class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
	</div>
	<div class="pull-right">
	    <select class="form-control" required autofocus ng-model="paginator.size" ng-options="ps.label for ps in paginator.pageSizes | orderBy:'value'" ng-change="refresh()">
        </select>
	</div>
</h2>

<table class="table table-striped" id="schemesTbl">
	<thead>
      <tr>
		<th>
		    <a href="" ng-click="sort.column = 'id'; sort.reverse = !sort.reverse">
                ID 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'id' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'id' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'name'; sort.reverse = !sort.reverse">
                Name 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'name' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'name' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'description'; sort.reverse = !sort.reverse">
                Description 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'description' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'description' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'version'; sort.reverse = !sort.reverse">
                Version 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'version' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'version' && sort.reverse"></i>
            </a>
        </th>
		<th>
		    <a href="" ng-click="sort.column = 'lock'; sort.reverse = !sort.reverse">
                Lock 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'lock' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'lock' && sort.reverse"></i>
            </a>
        </th>
        <th>&nbsp;</th>
	</tr>
    </thead>
    <tbody>
		<tr ng-repeat="row in schemes | orderBy:sort.column:sort.reverse">
	    	<td class="col-0">{{ row.id }}</td>
	    	<td class="col-1">{{ row.name }}</td>
	    	<td class="col-2">{{ row.description }}</td>
	    	<td class="col-3">{{ row.version }}</td>
	    	<td class="col-4"><span class="label label-danger" ng-if="row.lock == 1"><i class="fa fa-lock"></i></span><span class="label label-success" ng-if="row.lock == 0"><i class="fa fa-unlock"></i></span></td>
	    	<td class="col-5">
	    		<button type="button" class="btn btn-default btn-sm pull-right" ng-if="row.isWritable" aria-label="Delete" ng-click="delete(row.id)">
	  				<i class="fa fa-trash"></i>
				</button>
				<button type="button" class="btn btn-default btn-sm pull-right" aria-label="Map" ng-click="openSchematicMap(row.id)">
	  				<i class="fa fa-map-o"></i>
				</button>
				<button type="button" class="btn btn-default btn-sm pull-right" aria-label="Permissions" ng-click="openPermissions(row.id)">
	  				<i class="fa fa-group"></i>
				</button>
				<button type="button" class="btn btn-default btn-sm pull-right" ng-if="row.isWritable" aria-label="Open" ng-click="edit(row.id)">
	  				<i class="fa fa-pencil"></i>
				</button>
	    	</td>
	  	</tr>
  	</tbody>
</table>

<nav class="paginator">
  <ul class="pagination">
    <li>
      <a href="" aria-label="Previous" ng-click="setPage(1)"><i class="fa fa-step-backward"></i></a>
    </li>
    <li ng-repeat="x in paginator.totalPagesArray" ng-class="x == paginator.page ? 'active' : ''"><a href="" ng-click="setPage(x)">{{ x }}</a></li>
    <li>
      <a href="" aria-label="Last" ng-click="setPage(paginator.totalPages)"><i class="fa fa-step-forward"></i></a>
    </li>
  </ul>
</nav>
