<h1>CPDN Editor</h1>
<h3>Editor is part of CPDN platform. It is RESTful client side application running as web GUI to manage data of power distribution network and calculations of steady state network problem.</h3>
<p style="font-size:20px">It is written in <span class="label label-default">AngularJS (1.5)</span> with cooperation of <span class="label label-default">node.js</span>, <span class="label label-default">jQuery</span>, <span class="label label-default">Bootstrap</span>, <span class="label label-default">Babel</span>, <span class="label label-default">Bower</span> and <span class="label label-default">Webpack</span>.</p>
<p style="font-size:20px" ng-if="!isAuth">Before you start using this app, you need to <a href="#/login">log in</a>.</p>
