<h2 class="cpdn-heading">
	<div class="btn-group left" role="group">
		<button type="button" class="btn btn-default" ng-click="back()">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>
	Users
	<div class="btn-group right" role="group">
		<button type="button" class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
	</div>
	<div class="pull-right">
	    <select class="form-control" required autofocus ng-model="paginator.size" ng-options="ps.label for ps in paginator.pageSizes | orderBy:'value'" ng-change="refresh()">
        </select>
	</div>
</h2>

<table class="table table-striped" id="usersTbl">
	<thead>
      <tr>
		<th>
		    <a href="" ng-click="sort.column = 'nick'; sort.reverse = !sort.reverse">
                Nick 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'nick' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'nick' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'contact.firstname'; sort.reverse = !sort.reverse">
                First name 
                <i class="fa fa-sort-desc" ng-show="sort.column == 'contact.firstname' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'contact.firstname' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'contact.lastname'; sort.reverse = !sort.reverse">
                Last name
                <i class="fa fa-sort-desc" ng-show="sort.column == 'contact.lastname' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'contact.lastname' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'contact.phone'; sort.reverse = !sort.reverse">
                Phone
                <i class="fa fa-sort-desc" ng-show="sort.column == 'contact.phone' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'contact.phone' && sort.reverse"></i>
            </a>
		</th>
		<th>
		    <a href="" ng-click="sort.column = 'contact.email'; sort.reverse = !sort.reverse">
                Email
                <i class="fa fa-sort-desc" ng-show="sort.column == 'contact.email' && !sort.reverse"></i>
                <i class="fa fa-sort-asc" ng-show="sort.column == 'contact.email' && sort.reverse"></i>
            </a>
		</th>
	</tr>
    </thead>
    <tbody>
		<tr ng-repeat="row in users | orderBy:sort.column:sort.reverse">
	    	<td class="col-0">{{ row.nick }}</td>
	    	<td class="col-1">{{ row.contact.firstname }}</td>
	    	<td class="col-2">{{ row.contact.lastname }}</td>
	    	<td class="col-3">{{ row.contact.phone }}</td>
	    	<td class="col-4">{{ row.contact.email }}</td>
	  	</tr>
  	</tbody>
</table>

<nav class="paginator">
  <ul class="pagination">
    <li>
      <a href="" aria-label="Previous" ng-click="setPage(1)"><i class="fa fa-step-backward"></i></a>
    </li>
    <li ng-repeat="x in paginator.totalPagesArray" ng-class="x == paginator.page ? 'active' : ''"><a href="" ng-click="setPage(x)">{{ x }}</a></li>
    <li>
      <a href="" aria-label="Last" ng-click="setPage(paginator.totalPages)"><i class="fa fa-step-forward"></i></a>
    </li>
  </ul>
</nav>
